@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font: 100%/1.3;
  font-family: "Josefin Slab", serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #333;
}

header {
  margin: 0;
  background-color: #e2e2e2;
}

nav ul {
  margin: 0;
  padding: 0.5em;
}

nav a {
  display: block;
  padding: 0.5em;
  color: #000;
  text-decoration: none;
}

nav h1 {
  font-size: .75rem;
  font-weight: bold;
  text-align: left;
}

nav li {
  text-align: center;
  display: inline-block;
}

nav a:hover {
  background-color: #b5b5b5;
  color: #fff;
}

.banner {
  position: relative;
  max-height: 500px;
  overflow: hidden;
}

.img-flex {
  width: 100%;
  display: block;
}

.banner div {
  position: absolute;
  top: .9em;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  color: #000;
  margin: 0;
  font-weight: 700;
}

strong {
  font-weight: 600;
}

p {
  font-weight: 400;
}

.banner p {
  font-size: 1rem;
  color: #000;
  margin-top: 0;
}

.banner a {
  font-size: 1rem;
  color: #000;
  border: solid 3px #000;
  border-radius: 4px;
  padding: .5em;
  text-decoration: none;
}

.banner a:hover {
  color: #fff;
  background-color: #000;
}

section {
  border-bottom: solid 1px #333;
  background-color: #fff;
  float: left;
  overflow: hidden;
}

.cards div figcaption {
  color: #000;
  border: solid 3px #000;
  padding: .4em;
  border-radius: 4px;

}

.cards div figcaption:hover {
  color: #fff;
  background-color: #000;
  padding: .4em;
  border-radius: 4px;
}

.meal-card {
  position: relative;
}

.deal-card {
  position: relative;
}

.card-card {
  position: relative;
}

.info-card {
  position: relative;
}

.cards figcaption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 700;
}

.cards img {
  display: block;
  width: 100%;
  margin: 1em 0 1em 0;
}

.meals img {
  display: block;
  width: 100%;
  margin: 1em 0 1em 0;
}

.deals img {
  display: block;
  width: 100%;
  margin: 1em 0 1em 0;
}

.card img {
  width: 100%;
  display: block;
  margin: 1em 0 1em 0;
}

.info img {
  width: 100%;
  display: block;
  margin: 1em 0 1em 0;
}

.info h2,
.card h2 {
  margin: 0 0 0 1.3em;
}

.card div {
  max-width: 25em;
  margin: 0 2em 0 2em;
}

.info div {
  max-width: 25em;
  margin: 0 2em 0 2em;
}

.deals,
.meals,
.card,
.info {
  padding-top: 2em;
}

footer {
  background-color: #e2e2e2;
  padding: 3em;
}

small {
  font-size: 0.75rem;
}

@media only screen and (min-width: 25em) {

  html {
    font-size: 100%;
    line-height: 1.3;
  }

}

.banner div {
  top: 1em;
}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  header {
    overflow: hidden;
  }

  h1 {
    float: left;
  }

  nav ul {
    float: right;
  }

  .banner div {
    top: 4em;
  }

  .cards,
  .meals,
  .deals,
  .card,
  .info {
    overflow: hidden;
  }

  .cards div {
    display: inline-block;
    float: left;
    width: 50%;
  }

  .meals div {
    display: inline-block;
    float: left;
    width: 50%;
  }

  .deals div {
    display: inline-block;
    float: left;
    width: 50%;
  }
}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  .banner div {
    top: 8em;
  }

  .cards div {
    width: 25%;
  }

  .meals div {
    width: 25%;
  }

  .deals div {
    width: 25%;
  }

  .card div {
    display: inline-block;
    float: left;
    width: 50%;
  }

  .card img {
    max-width: 30em;
    display: block;
    margin: auto;
  }

  .info div {
    display: inline-block;
    float: left;
    width: 50%;
  }

  .info img {
    max-width: 30em;
    display: block;
    margin: auto;
  }
}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
    line-height: 1.5;
    max-width: 60em;
    display: block;
    margin: auto;
  }

}
